# Postgres
POSTGRES_HOST=postgres_prod
POSTGRES_PORT=5432
POSTGRES_USER=lama
POSTGRES_PASSWORD=SmcPr0d_DB_yQH8j@Rz!53
POSTGRES_DB=lama_prod

# ClickHouse
CLICKHOUSE_HOST=lama_clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=lama_prod

# JWT
JWT_SECRET=change_this_secret
JWT_EXP_SECONDS=3600

# Admin credentials to auto-create
ADMIN_EMAIL=admin@smc.com
ADMIN_PASSWORD=Admin@123
